@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Montserrat',Arial, sans-serif;
$font-secondary: 'Poppins',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darkgray: #333;
$gray: #777;

$primary: #f05d23;
$secondary: #5dd28e;


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			-ms-border-radius: $radius;
					border-radius: $radius;
}

@mixin transition($transition) {
		-moz-transition:    all $transition ease;
		-o-transition:      all $transition ease;
		-webkit-transition: all $transition ease;
		-ms-transition: 		all $transition ease;
		transition:         all $transition ease;
}

@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 500;
	color: lighten($black,60%);
	&.offcanvas {
		overflow-x: hidden;
		#coolib-aside {
			@include translateX(0);
			width: 270px;
			background: $white;
			z-index: 999;
			position: fixed;
		}
		#coolib-main, .coolib-nav-toggle {
			top: 0;
		}
	}
}
a {
	transition: .1s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $secondary;
		outline: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: rgba(0,0,0,.8);
	font-weight: 400;
	font-family: $font-secondary;
}



#coolib-page {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#coolib-main {
	width: 100%;
	float: right;
	@include transition(.5s);
    .col-md-6{
        padding-left: 30px;
        padding-right: 30px;
    }
}


//HERO-WRAP
.hero-wrap{
	width: 100%;
	position: relative;
	z-index: 0;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .75;
		background: $white;
		z-index: 0;
	}
	&.hero-wrap-2{
		.overlay{
			opacity: .8;
		}
	}
	.title{
		padding-top: 100px; 
	}
	.authors{
		.name{
			font-size: 20px;
			padding-right: 24px;
		}
		.organization{
			font-size: 16px;
		}
		.publication{
			font-size: 22px;
		}
	}
	.text{
		z-index: 1;
		font-size: 18px;
		font-weight: 500;
		.img{
			width: 200px;
			height: 200px;
			margin: 0 auto;
			@include border-radius(50%);
		}
		.authors{
			font-size: 26px;
			color: lighten($darkgray,15%);
		}
		h1{
			letter-spacing: 1px;
			font-size:  34px;
			font-weight: 600;
		}
		p{
			color: $darkgray;
		}
		.btn-custom{
			font-weight: 400;
			color: lighten($darkgray,10%);
			border-bottom: 2px solid lighten($gray,10%);
		}
	}
	.btn {
		margin-right: 16px;
	}
}




//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(30px);
	box-shadow: none!important;
	&:hover, &:active, &:focus {
		outline: none;
	}
	svg {
		margin-right: 0.25em;
		vertical-align: -0.125em;
		&.fa-w-12 {
			width: 0.75em;
		}
		&.fa-w-16 {
			width: 1.0em;
		}
	}
	&.btn-primary {
		background: $primary;
		border: 1px solid $primary;
		color: $white;
		&:hover {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-white {
		background: $white;
		border: 1px solid $white;
		color: $black;
		&:hover, &:focus, &:active {
			border: 1px solid $white;
			color :$primary;
		}
		&.btn-outline-white {
			border-color: rgba($white, .8);
			background: none;
			@include border-radius(30px);
			border-width: 1px;
			color: $white;
			&:hover, &:focus, &:active {
				background: $white;
				border-color: $white;
				color: $primary;
			}
		}
	}
}


@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

//BLOG ENTRY
.blog-entry{
	margin-bottom: 3em;
	.video-box-3 {
		width: 33.33333%;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}
	.caption{
		text-align: center;
		color: black;
	}
	.img{
		display: block;
		height: 400px;
		@include border-radius(3px);
		&.img-2{
			height: 300px;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			&::before{
				/*position: absolute;*/
				top: 0;
				left: 0;
				z-index: 2;
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				opacity: 0.0;
				background-color: #000;
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}
			&:hover{
				-webkit-animation: flash 1.5s;
				animation: flash 1.5s;
                &.autozoom{
                    background-size: 100% !important;
                }
				&::before{
					/*opacity: 0.3;*/
				}
			}
		}
		&.img-3{
			height: 240px;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			&::before{
				/*position: absolute;*/
				top: 0;
				left: 0;
				z-index: 2;
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				opacity: 0.0;
				background-color: #fff;
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}
			&:hover{
				opacity: 0.6;
				&::before{
					/*opacity: 0.3;
					-webkit-animation: flash .75s;
					animation: flash .75s;*/
				}
			}
		}
	}
	div.img{
		height: 320px;
		img{
				display: block;
				max-height: 320px;
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
		}
	}
	.text{
		position: relative;
		z-index: 0;
		.category{
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			color: $primary;
		}
		h5{
			margin-bottom: 0.5rem;
		}
		p {
			span.me {
				font-weight: bold;
			}
			color: $gray;
			margin-bottom: 0rem;
		}
		.meta-wrap{
			width: 100%;
			display: block;
			margin-top: 0.5rem;
			.half{
				width: 100%;
			}
			.meta{
				span{
					margin: 0 5px;
					color: lighten($black,70%);
					i{
						margin-right: 10px;
					}
				}
			}
			.btn{
				// font-weight: 300 !important;
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: 2px;
			}
		}
	}
	.author{
		.img{
			width: 80px;
			height: 80px;
			display: block;
			@include border-radius(50%);
		}
		.info{
			width: calc(100% - 80px);
			h3{
				font-size: 20px;
				margin-bottom: 0;
				font-weight: 400;
				a{
					font-weight: 600;
					color: $black;
					text-decoration: underline;
				}
				span{
					color: $black;
				}
			}
		}
		span{
			font-size: 18px;
			color: lighten($black,70%);	
		}
	}
	.text-2{
		h3{
			font-size: 22px;
			font-weight: 700;
		}
	}
	.author{
		.img{
			width: 60px;
			height: 60px;
			display: block;
			@include border-radius(50%);
		}
		.info{
			width: calc(100% - 60px);
			h3{
				font-size: 18px;
			}
		}
		span{
			font-size: 15px;
			font-weight: 300;
		}
	}
}


#bibtex{
	padding: 2em;
	background-color: #fafafa;
}

// USEFUL CODE
.aside-stretch{
	background: lighten($primary,10%);
	&:after{
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		content: '';
		width: 360%;
		background: lighten($primary,10%);
		// background: #333644;
	}
	@include media-breakpoint-down(sm){
		background: transparent;
		&:after{
			background: transparent;
			display: none;
		}
	}
}


.form-control {
	height: 52px!important;
	background: $white!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 0px;
	box-shadow: none!important;
	&:focus, &:active {
		border-color: $black;
	}
}
textarea.form-control {
	height: inherit!important;
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}


.ftco-section {
	padding-top: 3em;
	position: relative;
}

.ftco-footer {
	font-size: 14px;
	background: #132238;
	margin-top: 3em;
	padding: 6em 0;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			color: $white;
			margin-bottom: 40px;
			font-size: 17px;
			font-weight: 700;
			letter-spacing: 1px;
		}
		ul{
			li{
				a{
					span{
						color: $white;
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	.icon{
		padding-right: 2em; 
		svg{
			height: 2.5em;
		}
	}
	p {
		color: rgba($white, .5);
	}
	a {
		color: rgba($white, .5);
		&:hover {
			color: $white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
	}

	.categories{
		li{
			border-bottom: 1px solid rgba(255,255,255,.1);
			padding: 10px 0;
			a{
				color: rgba(255,255,255,.5) !important;
				span{
					color: rgba(255,255,255,.8) !important;
				}
			}
		}
	}
}



.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}


.ftco-social {
	padding: 0;
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba(255,255,255,.5);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $black;
			}
			&:hover {
				color: $white;
			}
		}
	}
}

// Map

#map {
	height: 400px;
	width: 100%;
	@include media-breakpoint-down(md) {
		height: 300px;
	}
}


@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
	}
	70% {
			-webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
	}
	100% {
			-webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
		box-shadow: 0 0 0 0 rgba($primary, 0.4);
	}
	70% {
			-moz-box-shadow: 0 0 0 30px rgba($primary, 0);
			box-shadow: 0 0 0 30px rgba($primary, 0);
	}
	100% {
			-moz-box-shadow: 0 0 0 0 rgba($primary, 0);
			box-shadow: 0 0 0 0 rgba($primary, 0);
	}
}

.heading-section{
	padding-top: 2.5em;
	.subheading{
		font-size: 14px;
		display: block;
		margin-bottom: 10px;
	}
	h2{
		font-size: 32px;
		font-weight: 600;
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.9);
		}
		h2{
			font-size: 40px;
			color: $white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
}

//COVER BG
.hero-wrap,
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


.block-23 {
	ul {
		padding: 0;
		li {
			
			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .5);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}
			
		}
	}
}


.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				border: 1px solid $primary;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
			}
			&.active {
				a, span {
					background: $primary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}


//### .block-4
.contact-section {
	.contact-info{
		p{
			a{
				color: lighten($black,10%);
			}
			span{}
		}
	}
}
.block-9 {
	.form-control {
		outline: none!important;
		box-shadow: none!important;
		font-size: 15px;
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		.heading {
			font-size: 16px;
			a {
				color: $black;
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				font-size: 12px;
				margin-right: 5px;
				a {
					color: lighten($black, 50%);
				}
			}
		}
	}
}


.tagcloud {
	padding: 0;
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black, 90%);
				color: $black;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	background: lighten($black, 98%);
	padding: 10px;

	.form-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-right: 50px;
			font-size: 14px;
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}

.subs-wrap{
	display: block;
	width: 100%;
	color: rgba(255,255,255,.7);
	position: relative;
	z-index: 0;
	@include media-breakpoint-down(sm){
		padding: 20px !important;
	}
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .6;
		background: $black;
		z-index: -1;
	}
	h3{
		color: $white;
	}
}
.subscribe-form{
	.form-group {
		position: relative;
		margin-bottom: 0;
		@include border-radius(0);
		input {
			background: transparent !important;
			border: 1px solid transparent;
			color: rgba(255,255,255,.7) !important;
			font-size: 16px;
			@include border-radius(0);
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: rgba(255,255,255,.7) !important;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: rgba(255,255,255,.7) !important;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: rgba(255,255,255,.7) !important;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: rgba(255,255,255,.7) !important;
			}
		}
		.form-control{
			bordeR: 1px solid rgba(255,255,255,.2);
			font-weight: 500;
		}
		.submit{
			color: $black !important;
			display: block;
			width: 100%;
			height: 52px;
			font-size: 16px;
			background: $white !important;
			@include border-radius(0);
			&:hover{
				cursor: pointer;
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		color: rgba(255,255,255,.8);
	}
}

// sidebar
.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	h3.sidebar-heading {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm){
		padding: 0;
	}
}

.categories, .sidelink {
	padding: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			color: $black;
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
	animation: loader-rotate 2s linear infinite;
	position: absolute;
	left:  calc(50% - 24px);
	top:  calc(50% - 24px);
	display: block;
	transform: rotate(0deg);
}

#ftco-loader .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes loader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}
